body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
nav img{
    width: 200px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.li-button{
    padding: 30px;
}
a{
    padding: 15px;
    background-color: rgb(22, 22, 133);
    color: grey;
    text-decoration: none;
    border-radius: 50px;
}
a:hover{
    background-color: black;
    color: navy;
}
main{
    text-align: center;
}
h1{
    background-color: black;
    color: coral;
    font-size: 100px;
}
h2{
    background-color: coral;
    color: black;
}
p{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
button{
    background-color: navy;
    padding: 20px 40px;
    border-radius: 50px;
    color: grey;
}
footer{
    margin-top: 50px;
    width: 100%;
    background-color: grey;
    text-align: center;
}